*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-45 {
    flex-basis: 45%;
}

.text-center {
    text-align: center;
}

.flex-20 {
    flex-basis: 20%;
}