@import "reset";
@import "general";
@import "vars";
@import "projects";
header {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

body {
    font-family: Inter;
}

.cnt-of-header {
    width: 1300px;
    max-width: 100%;
    padding: 0 32px;
    margin: 0 auto;
    .my-pic {
        height: 5rem;
        width: 5rem;
        margin-bottom: -0.7rem;
        object-fit: contain;
        border-radius: 50%;
        border: 3px solid white;
    }
    .my-pic-parent {
        font-family: 'Rubik Microbe', cursive;
        p {
            margin-left: 1.3rem;
            line-height: 1.23;
            color: $grey;
        }
        h2 {
            margin-left: 1.5rem;
            line-height: 1.23;
        }
    }
    .checkbox,
    .ul {
        display: none;
    }
    .bars {
        font-size: 1.33rem;
        margin-left: 1rem;
    }
    .fa-home {
        font-size: 1.33rem;
    }
    nav {
        position: relative;
    }
    .checkbox:checked~.ul {
        display: inline-block;
        position: absolute;
        top: 2.5rem;
        right: 0.1rem;
        width: 200%;
        padding: 1.4rem;
        background-color: rgb(0, 0, 0);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        li {
            margin: 0.77rem;
            &:hover {
                text-decoration: underline;
            }
            a {
                text-align: center;
                margin: 0;
            }
        }
        a {
            color: rgb(248, 248, 248);
        }
    }
    i {
        color: white;
    }
}

.hero {
    padding: 6rem 0 0 0;
    background: url(../my-pic.jpeg);
    background-position: center;
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    h1 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.4;
        color: white;
        margin-bottom: 1.2rem;
        margin-left: 3rem;
    }
    p {
        font-size: 0.98rem;
        font-weight: 250;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.4;
        color: $grey;
        margin-left: 3rem;
    }
}

.waves {
    transform: rotate(-180deg);
}

.blue-bg {
    background-color: rgb(54, 187, 199);
    padding: 3rem 0;
    color: white;
    .about {
        color: black;
        text-decoration: underline;
        display: inline-block;
        &:hover {
            color: white;
        }
    }
    h3 {
        font-size: 2.1rem;
        font-weight: bold;
        margin: 0.8rem 0;
        margin-bottom: 1.5rem;
        line-height: 1.4;
    }
    p:last-of-type {
        color: white;
        line-height: 1.7;
    }
    .code-strategy {
        font-size: 2rem;
        font-weight: bold;
        color: aliceblue;
        line-height: 1.3;
        border-top: 1px dashed white;
        border-bottom: 1px dashed white;
    }
    h4 {
        font-size: 1.4rem;
        font-weight: 550;
        margin-bottom: 1.7rem;
    }
}

footer {
    padding: 4rem 0 0 0;
    background-color: aliceblue;
    p:first-child {
        font-size: 1.3rem;
        font-weight: 450;
        margin-bottom: 1.5rem;
    }
}

.social-links {
    padding-bottom: 2rem;
    i {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        color: white;
        background-color: black;
        line-height: 3rem;
        transition: all 20ms linear;
        margin-left: 1.2rem;
        font-size: 1.4rem;
        &:hover {
            background-color: rgb(54, 187, 199);
        }
    }
}

.mailAndPhone {
    background-color: black;
    padding: 1rem 0;
    text-align: center;
    color: white;
    margin: 1rem 0 0 0;
    address {
        display: inline-block;
        i {
            color: rgb(54, 187, 199);
            &:hover {
                color: white;
            }
        }
    }
    span {
        display: inline-block;
        margin: 0 0.89rem;
    }
}

.work-process {
    background-color: aliceblue;
    padding: 2rem 0;
    p:first-child {
        text-decoration: underline;
        display: block;
        font-size: 0.89rem;
    }
    h3 {
        margin: 1.5rem 0;
        font-size: 2rem;
        font-weight: 510;
        color: black;
        display: inline-block;
    }
    .strategy {
        margin-top: 2rem;
        background-color: rgba(#1560AF, 0.8);
        border-radius: 20px;
        padding: 2rem;
        color: white;
        i {
            margin-left: 2rem;
            display: block;
        }
        p {
            margin: 0.99rem 0;
            font-size: 0.77rem;
            font-weight: 350;
            line-height: 1.2rem;
        }
    }
    .bulb-1 {
        border-bottom: 1px solid aliceblue;
        padding-bottom: 0.7rem;
    }
}

@media screen and (max-width: 1100px) {
    .sm-flex-100 {
        flex-basis: 100%;
    }
    .sm-flex-45 {
        flex-basis: 45%;
    }
    .sm-flex-column {
        flex-direction: column;
    }
    .blue-bg {
        .sm-flex-100 {
            margin: 1.5rem 0;
        }
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 10px;
    }
    .sm-flex-100 {
        flex-basis: 100%;
    }
    .sm-flex-column {
        flex-direction: column;
    }
    .hero {
        padding-top: -6rem;
    }
    .blue-bg {
        .sm-flex-100 {
            margin: 1.5rem 0;
        }
    }
}

@media screen and (max-width: 280px) {
    html {
        font-size: 5px;
    }
    .sm-flex-100 {
        flex-basis: 100%;
    }
    .sm-flex-column {
        flex-direction: column;
    }
    .hero {
        padding-top: -6rem;
    }
    .blue-bg {
        .sm-flex-100 {
            margin: 1.5rem 0;
        }
    }
}